.upload-container {
    background-color: bisque;
    padding: 1rem;
    border-radius: 1rem;
}

.upload-input {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.upload-button {
    background-color: red;
    color: white;
}